:root {
  --primary: #163861;
  --bg: #ea906c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--primary);
  color: rgba(252, 252, 231, 1);
}

/* NAVBAR  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: #163861;
  border-bottom: 1px solid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #576cbc;
}

.navbar .navbar-logo span {
  color: #fcffe7;
}

.navbar .navbar-nav a {
  color: #fcffe7;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: #eee2de;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fcffe7;
  margin: 0 0.5 rem;
}

.navbar .navbar-extra a:hover {
  color: #eee2de;
}

#hamburger-menu {
  display: none;
}

/* HERO SECTION */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/hero1.jpg);
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  background: linear-gradient(0deg, rgba(22, 56, 97, 1) 8%, rgba(22, 56, 97, 0) 30%);
  bottom: 0;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-weight: 2rem;
  font-size: 5em;
  color: rgba(252, 252, 231, 1);
}

.hero .content p {
  color: rgba(252, 252, 231, 1);
  font-size: 1.6rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.hero .content .cta {
  color: rgba(252, 252, 231, 1);
  font-size: 1.6rem;
  margin-top: 1.5rem;
  background-color: rgb(45, 117, 206);
  padding: 1rem 3rem;
  border-radius: 0.5rem;
}

/* ABOUT  */
.about,
.class,
.sosmed {
  padding: 5rem 7% 1.4rem;
}

.about h2,
.class h2,
.sosmed h2 {
  font-size: 3rem;
  color: rgba(252, 252, 231, 1);
  text-align: center;
  margin-bottom: 2rem;
}

.about .row {
  display: flex;
}

.about .row .about-img {
  margin: 3rem;
  flex: 1 1 45rem;
  justify-content: center;
  align-items: center;
}
.about .row .about-img img {
  width: 70%;
  flex: 1 1 45rem;
  justify-content: center;
  align-items: center;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
  margin-top: 5rem;
}

.about .row .content h3 {
  margin-bottom: 1rem;
  font-size: 4rem;
  color: rgba(252, 252, 231, 1);
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 2rem;

  line-height: 1.6;
}

/* class*/
.class h2,
.contact h2 {
  margin-top: 5.5rem;
  margin-bottom: 1rem;
}
.class p,
.contact p {
  text-align: center;
  max-width: 30%;
  margin: auto;
  font-size: 1.2rem;
}

.class .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: space-evenly;
}

.class .row .class-card {
  text-align: center;
  padding: 3rem 3rem;
  flex: 0 0 45%;
}

.class .row .class-card img {
  border-radius: 50%;
  width: 50%;
}

.class .row .class-card .class-card-tittle {
  margin: 1.5rem auto 1rem;
}

.class .row .class-card .item-detail-botton {
  color: rgba(252, 252, 231, 1);
}
.class .row .class-card .item-detail-botton:hover {
  color: #ea906c;
}

/* SOCIAL MEDIA */

.sosmed h2 {
  margin: 10rem;
}
.sosmed .row {
  display: flex;
  margin-top: 2rem;
  background-color: rgba(22, 56, 97, 1);
}

.sosmed .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.sosmed .row .medsos {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.sosmed .row .medsos .social-media {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.medsos .social-media a {
  color: rgba(252, 252, 231, 1);
}

.medsos .social-media a:hover {
  color: #576cbc;
}

.medsos .social-media a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.medsos .social-media a:hover::after {
  transform: scaleX(0.5);
}

footer {
  margin-top: 10rem;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MODAL BOX */
/* ITEM DETAIL */

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-container {
  position: relative;
  background-color: rgba(252, 252, 231, 1);
  color: rgba(22, 56, 97, 1);
  margin: 15% auto;
  padding: 1.2rem;
  border: 1px solid #666;
  width: 80%;
  animation: animateModal 0.5s;
}

/* MODAL ANIMATION  */
@keyframes animateModal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.modal-container .close-icon {
  position: absolute;
  right: 1rem;
}

.modal-content {
  display: flex;
  flex-wrap: nowrap;
}

.modal-content img {
  height: 20rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.modal-content p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  /* margin-top: 1.2rem; */
}

.modal-content a {
  display: flex;
  gap: 1rem;
  width: 12rem;
  margin-top: 1rem;
  padding: 1rem 1.6rem;
}

/* MEDIA QUERIES */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #163861;
    width: 30rem;
    height: 100vh;
    transition: 0.5s;
  }

  .navbar .navbar-nav a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .navbar-nav.active {
    right: 0;
  }
  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
  }

  .about .row .content {
    padding: 0;
  }
  .sosmed .row {
    flex-wrap: wrap;
  }

  .modal-content {
    flex-wrap: wrap;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

.class .row {
  font-size: 1.5rem;
}
.class .row .class-card-price {
  font-size: 1.7rem;
}

